[submodule "evernote"]
	path = evernote
	url = git://github.com/evernote/evernote-sdk-python/
[submodule "tinymce"]
	path = tinymce
	url = https://github.com/tinymce/tinymce.git
[submodule "jqTree"]
	path = jqTree
	url = https://github.com/mbraak/jqTree.git
[submodule "jquery"]
	path = jquery
	url = https://github.com/jquery/jquery.git
[submodule "jquery-ui"]
	path = jquery-ui
	url = https://github.com/jquery/jquery-ui.git
[submodule "jQuery-contextMenu"]
	path = jQuery-contextMenu
	url = https://github.com/medialize/jQuery-contextMenu.git
