body{
    font-family: Helvetica, Arial, sans-serif;
    color: #1D1D1D;
}

#leftbar{
    background-color: #BBBBBB;
    width: 200px;
    border: #B3B3B3 solid 1px;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
}

#noteslist_wrapper{
    width: 350px;
    border: #B3B3B3 solid 1px;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 220px;
}

#noteslist{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#noteslist_wrapper h3{
    padding-left: 10px;
    padding-right: 10px;
}

#noteslist > a{
    display: block;
    height: 60px;
    border-bottom: #B3B3B3 solid 1px;
    margin-top: -1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    color: #1D1D1D;
    text-decoration: none;
}
#noteslist > a.edited{
    background-color: #ECF0F3;
}
#noteslist > a:hover{
    background-color: #D1D4D7;
}
#noteslist > a span.title{
    font-weight: bold;
    display: block;
    font-size: 15px;
}

#noteeditor_wrapper{
    display: none;
    background-color: #EAEDEF;
    border: #B3B3B3 solid 1px;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 572px;
    right: 1px;
    padding: 10px;
}

#noteeditor_inside_wrapper{
    height: 100%;
}

#noteeditor_inside_inside_wrapper{
    border-radius: 3px;
    border: #B3B3B3 solid 1px;
    background-color: #FFFFFF;
}

#noteeditor{
    padding: 10px;
}

#note_title{
    border-bottom: #B3B3B3 solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    padding: 0;
    line-height: 15px;
    font-size: 15px;
    color: #7b7c7e;
    font-family: caecilia, serif;
    height: 32px;
}
